include README.md
include LICENSE
include requirements.txt
recursive-include src/tools *
exclude tfm.py
exclude temp/*
exclude test/*
exclude demo/*
exclude doc/*
exclude build/*
exclude *.egg-info/*
global-exclude tools/*